*, html{margin: 0;padding: 0; box-sizing: border-box;}

/* #top-banner{
    width: 100%;
    position: relative;
    background: #050e38; 
} */

.callout{
    width: 100%;
    height: 80px;
    position: relative;
    background: #06213f;
}
    
.callout-container{
text-align: center;
}

.closebtn{
    position: absolute;
    top: 5px; right: 15px;
    font-size: 20px;
    color: #fff;

    cursor: pointer;
}

.closebtn:hover{
    color: tomato;
}